@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}


body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: Montserrat;
    max-width: 100%;
}

$accentColor: crimson;

.container {
    padding: 50px 0px;
    min-height: 100vh;
    background: $accentColor;
    display: flex;
    justify-content: center;
    align-items: center;

    main {
        background: #fff;
        padding: 0px 50px;
        padding-bottom: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
            margin: 40px 0px;
        }

        .generate {
            background: $accentColor;
            padding: 10px 25px;
            border-radius: 5px;
            color: #fff;
            font-size: 22px;
            border: none;
            cursor: pointer;

            &:hover {
                background: hsl(348, 83%, 40%);
            }
        }

        @import "./settings";
        @import "./result";

        .advanced-settings {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            &.expanded {
                .advanced-settings-toggler {
                    svg {
                        transform: rotate(180deg);
                    }
                }

                .advanced-settings-list {
                    height: 50px !important;
                }
            }

            .advanced-settings-toggler {
                display: flex;
                align-items: center;
                gap: 10px;
                background: none;
                border: none;
                font-size: 18px;
                padding-bottom: 3px;
                border-bottom: 2px solid $accentColor;
                cursor: pointer;

                svg {
                    transition: 300ms;
                }
            }

            .advanced-settings-list {
                padding: 0;
                list-style: none;
                overflow: hidden;
                transition: 400ms;
                height: 0px;

                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    input[type="text"] {
                        width: 30%;
                        font-size: 18px;
                        padding: 3px;
                    }
                }
            }
        }
    }
}